.hangman-game {
  display: flex;
  flex-direction: row;
  padding: 25px;

  .hangman {
    flex: 1;
  }

  .game {
    flex: 2;
     width: 80%;

    .game-result {
      .game-won {
        color: green;
      }

      .game-lost {
        color: red;
      }
    }

    .game-guesser {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 25px;
      gap: 5px;

      .game-guesser-letter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        padding: 5px;
        border: 2px solid black;
        color: black;
        font-weight: 700;
      }
    }

    .game-description {
      margin-top: 50px;
      font-size: 12px;
    }

    .game-letters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 10px;
      gap: 5px;

      .game-letter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        padding: 3px;
        border: 2px solid lightgray;
        font-weight: 700;
        font-size: 18px;
        color: black;
        cursor: pointer;

        &.selected {
          color: lightgray;
        }
      }
    }

    .game-buttons {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;

      .game-button {
        margin-top: 50px;
        text-decoration: none;
        font-size: 14px;
        padding: 8px 20px;
        border-radius: 3px;
      }

      .end-game {
        border: 2px solid lightgray;
        background-color: white;
        color: black;
      }

      .new-game {
        background-color: black;
        color: white;
      }
    }
  }

  .instructions-button {
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: 700;
  }
}
