<div class="hangman-game">
  <div class="hangman">
    <app-hangman-svg [missedLetters]="missedLetters"></app-hangman-svg>
  </div>

  <div class="game">
    <h1>The Hangman</h1>

    <div class="game-result">
      <span class="game-won" *ngIf="!wordGuesses.includes('')">You've won</span>
      <span class="game-lost" *ngIf="missedLetters === 6">You've lost</span>
    </div>

    <div class="game-guesser">
      <div class="game-guesser-letter" *ngFor="let letter of wordGuesses">{{ letter.toUpperCase() }}</div>
    </div>

    <div class="game-description">Play with a word</div>

    <div class="game-letters">
      <button class="game-letter" [ngClass]="{'selected': guessedLetters.includes(letter)}"
        *ngFor="let letter of letters" (click)="guessLetter(letter)">
        {{ letter.toUpperCase() }}</button>
    </div>

    <div class="game-buttons">
      <a class="game-button end-game" [routerLink]="['../', 'instructions']">END GAME</a>
      <a class="game-button new-game" [routerLink]="['../', 'length-picker']">START NEW GAME</a>
    </div>
  </div>

  <a class="instructions-button" [routerLink]="['../', 'instructions']">INSTRUCTIONS &#8594;</a>
</div>
