html, body {
  height: 100%;
}

#main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1f1e1e;

  font-family: Arial, Helvetica, sans-serif;

  #page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: auto;

    background-image: url('/assets/logo.png');
    background-position: -10% 110%;
    background-repeat: no-repeat;

    #router-container {
      width: 40rem;
      height: 40rem;
      background-color: white;
      border-radius: 25px;
    }
  }
}
