#main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: gray;

  font-family: Arial, Helvetica, sans-serif;

  #page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: auto;

    #router-container {
      width: 45rem;
      height: 45rem;
      background-color: white;
      border-radius: 25px;

      .h1 {
        font-size: 48px;
      }

      .h2 {
        font-size: 32px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
