<div class="instructions">
  <h1>The Hangman</h1>
  <div class="svg-container">
    <app-hangman-svg [showHangman]="true"></app-hangman-svg>
  </div>
  <h2>Game instructions</h2>
  <div class="instructions-descriptions">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua.
    </span>
    <span>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</span>
  </div>

  <div class="buttons">
    <a *ngIf="isLastRouteHangman" class="game-button back" [routerLink]="['../', 'hangman']">Back</a>
    <a class="game-button got-it" [routerLink]="['../', 'length-picker']">GOT IT!</a>
  </div>
</div>
