.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 100px;

  .svg-container {
    width: 100px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  h1, h2 {
    font-weight: 700;
  }

  .instructions-descriptions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }

  .buttons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

    .game-button {
      margin-top: 50px;
      text-decoration: none;
      font-size: 14px;
      padding: 8px 20px;
      border-radius: 3px;
    }

    .got-it {
      background-color: black;
      color: white;
    }

    .back {
      border: 2px solid lightgray;
      background-color: white;
      color: black;
      margin-right: 25px;
    }
  }

}
