.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 100px;

  .svg-container {
    width: 100px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  h1, h2 {
    font-weight: 700;
  }

  .instructions-descriptions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }

  .got-it-button {
    margin-top: 50px;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 8px 30px;
    border-radius: 3px;
  }
}
